<div class="home">
  <h1>Chris Done</h1>
  <p>Blog all about programming, especially in Haskell since 2008!</p>
  <p class="menu">
    <a href="./posts/">Posts</a>
    <a href="/rss.xml">RSS</a>
    <a href="http://github.com/chrisdone">GitHub</a>
    <a href="http://twitter.com/christopherdone">Twitter</a>
    <a href="txt/chrisdone-ssh.txt">SSH</a>
  </p>
</div>
<div id="posts">
  <h2>Popular articles</h2>
  <ul id="archive">
    <li class="post-1">
      <span><a href="./posts/fast-haskell-c-parsing-xml/">Fast Haskell:
          Competing with C at parsing XML</a></span>
    </li>
    <li class="post-2">
      <span><a href="./posts/emacs-users-are-like-igor/">Emacs users are like Terry Pratchett’s Igors</a></span>

    </li>
    <li class="post-2">
      <span><a href="./posts/twitter-problem-loeb/">Twitter waterflow problem and loeb</a></span>

    </li>
    <li class="post-2">
      <span><a href="./posts/haskell-lisp-philosophy-difference/">A philosophical difference between Haskell and Lisp</a></span>

    </li>
    <li class="post-1">
      <span><a href="/posts/z/">A tiny language called Z</a></span>

    </li>
    <li class="post-2">
      <span><a href="./posts/haskell-lang/">An alternative Haskell home page</a></span>

    </li>
    <li class="post-2">
      <span><a href="./posts/postgresql-pagination/">Fast pagination on PostgreSQL</a></span>

    </li>
    <li class="post-2">
      <span><a href="./posts/data-typeable/">Typeable and Data in Haskell</a></span>

    </li>
    <li class="post-1">
      <span><a href="./posts/the-mythical-man-month-insights/">Some insights from The Mythical Man Month starting from Chapter 11</a></span>

    </li>
    <li class="post-2">
      <span><a href="./posts/lucid/">Lucid: templating DSL for HTML</a></span>

    </li>
  </ul>
  <div id="posts">
    <h2>Business</h2>
    <p>
      I'm working on a product
      called <a href="https://inflex.io">Inflex</a>, which is a new
      kind of spreadsheet alternative, with my cofounder, Giulia
      Costa.
    </p>
        <p>
      I currently work at <a href="https://artificial.io/">Artificial Labs</a> 
      on algorithmic underwiting of insurance contracts.
    </p>
    <p>
      I worked at <a href="https://www.fpcomplete.com/">FP
        Complete</a> from 2013 to 2022 on a large variety of Haskell-based
      consulting projects.
    </p>
  </div>
  
  <div id="posts">
    <h2>Toys</h2>
    <p>
      <a href="/toys/duet-delta">Duet</a>,
      <a href="/toys/elastic-collision-balls">Elastic collisions</a>,
      <a href="/toys/elastic-collision-snooker">Snooker</a>,
      <a href="/toys/numbergeddon">Numbergeddon</a>
    </p>
  </div>

<footer>
  <table style="width:100%">
    <tr>
      <td>© 2008-2022 Chris Done</td>
    </tr>
  </table>
</footer>
